<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Omega.math</key>
	<string>Omega_.math.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Tcedilla</key>
	<string>Tcedilla_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dvA</key>
	<string>dvA_.glif</string>
	<key>dvAA</key>
	<string>dvAA_.glif</string>
	<key>dvAI</key>
	<string>dvAI_.glif</string>
	<key>dvAU</key>
	<string>dvAU_.glif</string>
	<key>dvAcandra</key>
	<string>dvAcandra_.glif</string>
	<key>dvB</key>
	<string>dvB_.glif</string>
	<key>dvBA</key>
	<string>dvBA_.glif</string>
	<key>dvBH</key>
	<string>dvBH_.glif</string>
	<key>dvBHA</key>
	<string>dvBHA_.glif</string>
	<key>dvBH_LA</key>
	<string>dvBH__LA_.glif</string>
	<key>dvBH_NA</key>
	<string>dvBH__NA_.glif</string>
	<key>dvBH_R</key>
	<string>dvBH__R_.glif</string>
	<key>dvBH_RA</key>
	<string>dvBH__RA_.glif</string>
	<key>dvBH_R_YA</key>
	<string>dvBH__R__YA_.glif</string>
	<key>dvBH_VA</key>
	<string>dvBH__VA_.glif</string>
	<key>dvBH_YA</key>
	<string>dvBH__YA_.glif</string>
	<key>dvB_BA</key>
	<string>dvB__BA_.glif</string>
	<key>dvB_BHA</key>
	<string>dvB__BHA_.glif</string>
	<key>dvB_BH_RA</key>
	<string>dvB__BH__RA_.glif</string>
	<key>dvB_DA</key>
	<string>dvB__DA_.glif</string>
	<key>dvB_DHA</key>
	<string>dvB__DHA_.glif</string>
	<key>dvB_DH_VA</key>
	<string>dvB__DH__VA_.glif</string>
	<key>dvB_JA</key>
	<string>dvB__JA_.glif</string>
	<key>dvB_JHA</key>
	<string>dvB__JHA_.glif</string>
	<key>dvB_J_YA</key>
	<string>dvB__J__YA_.glif</string>
	<key>dvB_JxA</key>
	<string>dvB__JxA_.glif</string>
	<key>dvB_LA</key>
	<string>dvB__LA_.glif</string>
	<key>dvB_L_YA</key>
	<string>dvB__L__YA_.glif</string>
	<key>dvB_NA</key>
	<string>dvB__NA_.glif</string>
	<key>dvB_R</key>
	<string>dvB__R_.glif</string>
	<key>dvB_RA</key>
	<string>dvB__RA_.glif</string>
	<key>dvB_SA</key>
	<string>dvB__SA_.glif</string>
	<key>dvB_SHA</key>
	<string>dvB__SHA_.glif</string>
	<key>dvB_TA</key>
	<string>dvB__TA_.glif</string>
	<key>dvB_VA</key>
	<string>dvB__VA_.glif</string>
	<key>dvB_YA</key>
	<string>dvB__YA_.glif</string>
	<key>dvC</key>
	<string>dvC_.glif</string>
	<key>dvCA</key>
	<string>dvCA_.glif</string>
	<key>dvCH</key>
	<string>dvCH_.glif</string>
	<key>dvCHA</key>
	<string>dvCHA_.glif</string>
	<key>dvCH_R</key>
	<string>dvCH__R_.glif</string>
	<key>dvCH_RA</key>
	<string>dvCH__RA_.glif</string>
	<key>dvCH_R_YA</key>
	<string>dvCH__R__YA_.glif</string>
	<key>dvCH_YA</key>
	<string>dvCH__YA_.glif</string>
	<key>dvC_CA</key>
	<string>dvC__CA_.glif</string>
	<key>dvC_CHA</key>
	<string>dvC__CHA_.glif</string>
	<key>dvC_CH_VA</key>
	<string>dvC__CH__VA_.glif</string>
	<key>dvC_MA</key>
	<string>dvC__MA_.glif</string>
	<key>dvC_NA</key>
	<string>dvC__NA_.glif</string>
	<key>dvC_R</key>
	<string>dvC__R_.glif</string>
	<key>dvC_RA</key>
	<string>dvC__RA_.glif</string>
	<key>dvC_YA</key>
	<string>dvC__YA_.glif</string>
	<key>dvDD</key>
	<string>dvDD_.glif</string>
	<key>dvDDA</key>
	<string>dvDDA_.glif</string>
	<key>dvDDH</key>
	<string>dvDDH_.glif</string>
	<key>dvDDHA</key>
	<string>dvDDHA_.glif</string>
	<key>dvDDH_DDHA</key>
	<string>dvDDH__DDHA_.glif</string>
	<key>dvDDH_R</key>
	<string>dvDDH__R_.glif</string>
	<key>dvDDH_RA</key>
	<string>dvDDH__RA_.glif</string>
	<key>dvDDH_VA</key>
	<string>dvDDH__VA_.glif</string>
	<key>dvDDH_YA</key>
	<string>dvDDH__YA_.glif</string>
	<key>dvDDHxA</key>
	<string>dvDDHxA_.glif</string>
	<key>dvDD_DDA</key>
	<string>dvDD__DDA_.glif</string>
	<key>dvDD_DDHA</key>
	<string>dvDD__DDHA_.glif</string>
	<key>dvDD_R</key>
	<string>dvDD__R_.glif</string>
	<key>dvDD_RA</key>
	<string>dvDD__RA_.glif</string>
	<key>dvDD_VA</key>
	<string>dvDD__VA_.glif</string>
	<key>dvDD_YA</key>
	<string>dvDD__YA_.glif</string>
	<key>dvDDxA</key>
	<string>dvDDxA_.glif</string>
	<key>dvDHA</key>
	<string>dvDHA_.glif</string>
	<key>dvDH_MA</key>
	<string>dvDH__MA_.glif</string>
	<key>dvDH_NA</key>
	<string>dvDH__NA_.glif</string>
	<key>dvDH_N_YA</key>
	<string>dvDH__N__YA_.glif</string>
	<key>dvDH_R</key>
	<string>dvDH__R_.glif</string>
	<key>dvDH_RA</key>
	<string>dvDH__RA_.glif</string>
	<key>dvDH_VA</key>
	<string>dvDH__VA_.glif</string>
	<key>dvDH_YA</key>
	<string>dvDH__YA_.glif</string>
	<key>dvD_BA</key>
	<string>dvD__BA_.glif</string>
	<key>dvD_BHA</key>
	<string>dvD__BHA_.glif</string>
	<key>dvD_B_RA</key>
	<string>dvD__B__RA_.glif</string>
	<key>dvD_DHA</key>
	<string>dvD__DHA_.glif</string>
	<key>dvD_GA</key>
	<string>dvD__GA_.glif</string>
	<key>dvD_GHA</key>
	<string>dvD__GHA_.glif</string>
	<key>dvD_G_RA</key>
	<string>dvD__G__RA_.glif</string>
	<key>dvD_MA</key>
	<string>dvD__MA_.glif</string>
	<key>dvD_NA</key>
	<string>dvD__NA_.glif</string>
	<key>dvD_R</key>
	<string>dvD__R_.glif</string>
	<key>dvD_RA</key>
	<string>dvD__RA_.glif</string>
	<key>dvD_VA</key>
	<string>dvD__VA_.glif</string>
	<key>dvD_YA</key>
	<string>dvD__YA_.glif</string>
	<key>dvE</key>
	<string>dvE_.glif</string>
	<key>dvEcandra</key>
	<string>dvEcandra_.glif</string>
	<key>dvEyelash_HA</key>
	<string>dvEyelash__HA_.glif</string>
	<key>dvEyelash_YA</key>
	<string>dvEyelash__YA_.glif</string>
	<key>dvG</key>
	<string>dvG_.glif</string>
	<key>dvGA</key>
	<string>dvGA_.glif</string>
	<key>dvGH</key>
	<string>dvGH_.glif</string>
	<key>dvGHA</key>
	<string>dvGHA_.glif</string>
	<key>dvGH_MA</key>
	<string>dvGH__MA_.glif</string>
	<key>dvGH_NA</key>
	<string>dvGH__NA_.glif</string>
	<key>dvGH_R</key>
	<string>dvGH__R_.glif</string>
	<key>dvGH_RA</key>
	<string>dvGH__RA_.glif</string>
	<key>dvGH_YA</key>
	<string>dvGH__YA_.glif</string>
	<key>dvG_BA</key>
	<string>dvG__BA_.glif</string>
	<key>dvG_BHA</key>
	<string>dvG__BHA_.glif</string>
	<key>dvG_BH_YA</key>
	<string>dvG__BH__YA_.glif</string>
	<key>dvG_DA</key>
	<string>dvG__DA_.glif</string>
	<key>dvG_DHA</key>
	<string>dvG__DHA_.glif</string>
	<key>dvG_DH_VA</key>
	<string>dvG__DH__VA_.glif</string>
	<key>dvG_DH_YA</key>
	<string>dvG__DH__YA_.glif</string>
	<key>dvG_GA</key>
	<string>dvG__GA_.glif</string>
	<key>dvG_GHA</key>
	<string>dvG__GHA_.glif</string>
	<key>dvG_JA</key>
	<string>dvG__JA_.glif</string>
	<key>dvG_LA</key>
	<string>dvG__LA_.glif</string>
	<key>dvG_MA</key>
	<string>dvG__MA_.glif</string>
	<key>dvG_NA</key>
	<string>dvG__NA_.glif</string>
	<key>dvG_NNA</key>
	<string>dvG__NNA_.glif</string>
	<key>dvG_N_YA</key>
	<string>dvG__N__YA_.glif</string>
	<key>dvG_R</key>
	<string>dvG__R_.glif</string>
	<key>dvG_RA</key>
	<string>dvG__RA_.glif</string>
	<key>dvG_R_YA</key>
	<string>dvG__R__YA_.glif</string>
	<key>dvG_SA</key>
	<string>dvG__SA_.glif</string>
	<key>dvG_VA</key>
	<string>dvG__VA_.glif</string>
	<key>dvG_YA</key>
	<string>dvG__YA_.glif</string>
	<key>dvGx</key>
	<string>dvGx_.glif</string>
	<key>dvGxA</key>
	<string>dvGxA_.glif</string>
	<key>dvGx_R</key>
	<string>dvGx__R_.glif</string>
	<key>dvGx_RA</key>
	<string>dvGx__RA_.glif</string>
	<key>dvH</key>
	<string>dvH_.glif</string>
	<key>dvHA</key>
	<string>dvHA_.glif</string>
	<key>dvHA_mU</key>
	<string>dvHA__mU_.glif</string>
	<key>dvHA_mUU</key>
	<string>dvHA__mUU_.glif</string>
	<key>dvHA_mvR</key>
	<string>dvHA__mvR_.glif</string>
	<key>dvH_LA</key>
	<string>dvH__LA_.glif</string>
	<key>dvH_MA</key>
	<string>dvH__MA_.glif</string>
	<key>dvH_NA</key>
	<string>dvH__NA_.glif</string>
	<key>dvH_NNA</key>
	<string>dvH__NNA_.glif</string>
	<key>dvH_R</key>
	<string>dvH__R_.glif</string>
	<key>dvH_RA</key>
	<string>dvH__RA_.glif</string>
	<key>dvH_VA</key>
	<string>dvH__VA_.glif</string>
	<key>dvH_YA</key>
	<string>dvH__YA_.glif</string>
	<key>dvI</key>
	<string>dvI_.glif</string>
	<key>dvII</key>
	<string>dvII_.glif</string>
	<key>dvII_Anusvara</key>
	<string>dvII__Anusvara_.glif</string>
	<key>dvJ</key>
	<string>dvJ_.glif</string>
	<key>dvJA</key>
	<string>dvJA_.glif</string>
	<key>dvJH</key>
	<string>dvJH_.glif</string>
	<key>dvJHA</key>
	<string>dvJHA_.glif</string>
	<key>dvJH_MA</key>
	<string>dvJH__MA_.glif</string>
	<key>dvJH_NA</key>
	<string>dvJH__NA_.glif</string>
	<key>dvJH_R</key>
	<string>dvJH__R_.glif</string>
	<key>dvJH_RA</key>
	<string>dvJH__RA_.glif</string>
	<key>dvJH_YA</key>
	<string>dvJH__YA_.glif</string>
	<key>dvJ_BA</key>
	<string>dvJ__BA_.glif</string>
	<key>dvJ_DA</key>
	<string>dvJ__DA_.glif</string>
	<key>dvJ_DDA</key>
	<string>dvJ__DDA_.glif</string>
	<key>dvJ_JA</key>
	<string>dvJ__JA_.glif</string>
	<key>dvJ_JHA</key>
	<string>dvJ__JHA_.glif</string>
	<key>dvJ_J_NYA</key>
	<string>dvJ__J__NYA_.glif</string>
	<key>dvJ_J_VA</key>
	<string>dvJ__J__VA_.glif</string>
	<key>dvJ_J_YA</key>
	<string>dvJ__J__YA_.glif</string>
	<key>dvJ_KA</key>
	<string>dvJ__KA_.glif</string>
	<key>dvJ_MA</key>
	<string>dvJ__MA_.glif</string>
	<key>dvJ_NA</key>
	<string>dvJ__NA_.glif</string>
	<key>dvJ_NY</key>
	<string>dvJ__NY_.glif</string>
	<key>dvJ_NYA</key>
	<string>dvJ__NYA_.glif</string>
	<key>dvJ_NY_YA</key>
	<string>dvJ__NY__YA_.glif</string>
	<key>dvJ_R</key>
	<string>dvJ__R_.glif</string>
	<key>dvJ_RA</key>
	<string>dvJ__RA_.glif</string>
	<key>dvJ_TA</key>
	<string>dvJ__TA_.glif</string>
	<key>dvJ_TTA</key>
	<string>dvJ__TTA_.glif</string>
	<key>dvJ_VA</key>
	<string>dvJ__VA_.glif</string>
	<key>dvJ_YA</key>
	<string>dvJ__YA_.glif</string>
	<key>dvJx</key>
	<string>dvJx_.glif</string>
	<key>dvJxA</key>
	<string>dvJxA_.glif</string>
	<key>dvJx_JxA</key>
	<string>dvJx__JxA_.glif</string>
	<key>dvJx_R</key>
	<string>dvJx__R_.glif</string>
	<key>dvJx_RA</key>
	<string>dvJx__RA_.glif</string>
	<key>dvJx_YA</key>
	<string>dvJx__YA_.glif</string>
	<key>dvK</key>
	<string>dvK_.glif</string>
	<key>dvKA</key>
	<string>dvKA_.glif</string>
	<key>dvKH</key>
	<string>dvKH_.glif</string>
	<key>dvKHA</key>
	<string>dvKHA_.glif</string>
	<key>dvKH_KHA</key>
	<string>dvKH__KHA_.glif</string>
	<key>dvKH_MA</key>
	<string>dvKH__MA_.glif</string>
	<key>dvKH_NA</key>
	<string>dvKH__NA_.glif</string>
	<key>dvKH_R</key>
	<string>dvKH__R_.glif</string>
	<key>dvKH_RA</key>
	<string>dvKH__RA_.glif</string>
	<key>dvKH_SHA</key>
	<string>dvKH__SHA_.glif</string>
	<key>dvKH_TA</key>
	<string>dvKH__TA_.glif</string>
	<key>dvKH_VA</key>
	<string>dvKH__VA_.glif</string>
	<key>dvKH_YA</key>
	<string>dvKH__YA_.glif</string>
	<key>dvKHx</key>
	<string>dvKHx_.glif</string>
	<key>dvKHxA</key>
	<string>dvKHxA_.glif</string>
	<key>dvKHx_MA</key>
	<string>dvKHx__MA_.glif</string>
	<key>dvKHx_R</key>
	<string>dvKHx__R_.glif</string>
	<key>dvKHx_RA</key>
	<string>dvKHx__RA_.glif</string>
	<key>dvKHx_SA</key>
	<string>dvKHx__SA_.glif</string>
	<key>dvKHx_SHA</key>
	<string>dvKHx__SHA_.glif</string>
	<key>dvKHx_TA</key>
	<string>dvKHx__TA_.glif</string>
	<key>dvKHx_VA</key>
	<string>dvKHx__VA_.glif</string>
	<key>dvKHx_YA</key>
	<string>dvKHx__YA_.glif</string>
	<key>dvK_CA</key>
	<string>dvK__CA_.glif</string>
	<key>dvK_DA</key>
	<string>dvK__DA_.glif</string>
	<key>dvK_JA</key>
	<string>dvK__JA_.glif</string>
	<key>dvK_KA</key>
	<string>dvK__KA_.glif</string>
	<key>dvK_KHA</key>
	<string>dvK__KHA_.glif</string>
	<key>dvK_LA</key>
	<string>dvK__LA_.glif</string>
	<key>dvK_MA</key>
	<string>dvK__MA_.glif</string>
	<key>dvK_NA</key>
	<string>dvK__NA_.glif</string>
	<key>dvK_NNA</key>
	<string>dvK__NNA_.glif</string>
	<key>dvK_PA</key>
	<string>dvK__PA_.glif</string>
	<key>dvK_PHA</key>
	<string>dvK__PHA_.glif</string>
	<key>dvK_P_RA</key>
	<string>dvK__P__RA_.glif</string>
	<key>dvK_R</key>
	<string>dvK__R_.glif</string>
	<key>dvK_RA</key>
	<string>dvK__RA_.glif</string>
	<key>dvK_SA</key>
	<string>dvK__SA_.glif</string>
	<key>dvK_SHA</key>
	<string>dvK__SHA_.glif</string>
	<key>dvK_SSA</key>
	<string>dvK__SSA_.glif</string>
	<key>dvK_SS_MA</key>
	<string>dvK__SS__MA_.glif</string>
	<key>dvK_SS_M_YA</key>
	<string>dvK__SS__M__YA_.glif</string>
	<key>dvK_SS_VA</key>
	<string>dvK__SS__VA_.glif</string>
	<key>dvK_SS_YA</key>
	<string>dvK__SS__YA_.glif</string>
	<key>dvK_S_DDA</key>
	<string>dvK__S__DDA_.glif</string>
	<key>dvK_S_P_LA</key>
	<string>dvK__S__P__LA_.glif</string>
	<key>dvK_S_P_RA</key>
	<string>dvK__S__P__RA_.glif</string>
	<key>dvK_S_TA</key>
	<string>dvK__S__TA_.glif</string>
	<key>dvK_S_TTA</key>
	<string>dvK__S__TTA_.glif</string>
	<key>dvK_TA</key>
	<string>dvK__TA_.glif</string>
	<key>dvK_THA</key>
	<string>dvK__THA_.glif</string>
	<key>dvK_TTA</key>
	<string>dvK__TTA_.glif</string>
	<key>dvK_T_RA</key>
	<string>dvK__T__RA_.glif</string>
	<key>dvK_T_VA</key>
	<string>dvK__T__VA_.glif</string>
	<key>dvK_T_YA</key>
	<string>dvK__T__YA_.glif</string>
	<key>dvK_VA</key>
	<string>dvK__VA_.glif</string>
	<key>dvK_V_YA</key>
	<string>dvK__V__YA_.glif</string>
	<key>dvK_YA</key>
	<string>dvK__YA_.glif</string>
	<key>dvKx</key>
	<string>dvKx_.glif</string>
	<key>dvKxA</key>
	<string>dvKxA_.glif</string>
	<key>dvKx_BA</key>
	<string>dvKx__BA_.glif</string>
	<key>dvKx_KxA</key>
	<string>dvKx__KxA_.glif</string>
	<key>dvKx_MA</key>
	<string>dvKx__MA_.glif</string>
	<key>dvKx_PHA</key>
	<string>dvKx__PHA_.glif</string>
	<key>dvKx_PHxA</key>
	<string>dvKx__PHxA_.glif</string>
	<key>dvKx_R</key>
	<string>dvKx__R_.glif</string>
	<key>dvKx_RA</key>
	<string>dvKx__RA_.glif</string>
	<key>dvKx_TA</key>
	<string>dvKx__TA_.glif</string>
	<key>dvLLA</key>
	<string>dvLLA_.glif</string>
	<key>dvLL_R</key>
	<string>dvLL__R_.glif</string>
	<key>dvLL_RA</key>
	<string>dvLL__RA_.glif</string>
	<key>dvLL_YA</key>
	<string>dvLL__YA_.glif</string>
	<key>dvL_BA</key>
	<string>dvL__BA_.glif</string>
	<key>dvL_BHA</key>
	<string>dvL__BHA_.glif</string>
	<key>dvL_DA</key>
	<string>dvL__DA_.glif</string>
	<key>dvL_DDA</key>
	<string>dvL__DDA_.glif</string>
	<key>dvL_DDHA</key>
	<string>dvL__DDHA_.glif</string>
	<key>dvL_D_RA</key>
	<string>dvL__D__RA_.glif</string>
	<key>dvL_GA</key>
	<string>dvL__GA_.glif</string>
	<key>dvL_HA</key>
	<string>dvL__HA_.glif</string>
	<key>dvL_JA</key>
	<string>dvL__JA_.glif</string>
	<key>dvL_JxA</key>
	<string>dvL__JxA_.glif</string>
	<key>dvL_KA</key>
	<string>dvL__KA_.glif</string>
	<key>dvL_KHA</key>
	<string>dvL__KHA_.glif</string>
	<key>dvL_K_YA</key>
	<string>dvL__K__YA_.glif</string>
	<key>dvL_LA</key>
	<string>dvL__LA_.glif</string>
	<key>dvL_L_YA</key>
	<string>dvL__L__YA_.glif</string>
	<key>dvL_MA</key>
	<string>dvL__MA_.glif</string>
	<key>dvL_PA</key>
	<string>dvL__PA_.glif</string>
	<key>dvL_PHA</key>
	<string>dvL__PHA_.glif</string>
	<key>dvL_R</key>
	<string>dvL__R_.glif</string>
	<key>dvL_RA</key>
	<string>dvL__RA_.glif</string>
	<key>dvL_SA</key>
	<string>dvL__SA_.glif</string>
	<key>dvL_TA</key>
	<string>dvL__TA_.glif</string>
	<key>dvL_THA</key>
	<string>dvL__THA_.glif</string>
	<key>dvL_TH_YA</key>
	<string>dvL__TH__YA_.glif</string>
	<key>dvL_TTA</key>
	<string>dvL__TTA_.glif</string>
	<key>dvL_TTHA</key>
	<string>dvL__TTHA_.glif</string>
	<key>dvL_VA</key>
	<string>dvL__VA_.glif</string>
	<key>dvL_V_DDA</key>
	<string>dvL__V__DDA_.glif</string>
	<key>dvL_YA</key>
	<string>dvL__YA_.glif</string>
	<key>dvM</key>
	<string>dvM_.glif</string>
	<key>dvMA</key>
	<string>dvMA_.glif</string>
	<key>dvM_BA</key>
	<string>dvM__BA_.glif</string>
	<key>dvM_BHA</key>
	<string>dvM__BHA_.glif</string>
	<key>dvM_BH_RA</key>
	<string>dvM__BH__RA_.glif</string>
	<key>dvM_BH_VA</key>
	<string>dvM__BH__VA_.glif</string>
	<key>dvM_BH_YA</key>
	<string>dvM__BH__YA_.glif</string>
	<key>dvM_B_RA</key>
	<string>dvM__B__RA_.glif</string>
	<key>dvM_B_YA</key>
	<string>dvM__B__YA_.glif</string>
	<key>dvM_DA</key>
	<string>dvM__DA_.glif</string>
	<key>dvM_HA</key>
	<string>dvM__HA_.glif</string>
	<key>dvM_LA</key>
	<string>dvM__LA_.glif</string>
	<key>dvM_MA</key>
	<string>dvM__MA_.glif</string>
	<key>dvM_NA</key>
	<string>dvM__NA_.glif</string>
	<key>dvM_PA</key>
	<string>dvM__PA_.glif</string>
	<key>dvM_P_RA</key>
	<string>dvM__P__RA_.glif</string>
	<key>dvM_R</key>
	<string>dvM__R_.glif</string>
	<key>dvM_RA</key>
	<string>dvM__RA_.glif</string>
	<key>dvM_SA</key>
	<string>dvM__SA_.glif</string>
	<key>dvM_SHA</key>
	<string>dvM__SHA_.glif</string>
	<key>dvM_TA</key>
	<string>dvM__TA_.glif</string>
	<key>dvM_VA</key>
	<string>dvM__VA_.glif</string>
	<key>dvM_YA</key>
	<string>dvM__YA_.glif</string>
	<key>dvN</key>
	<string>dvN_.glif</string>
	<key>dvNG</key>
	<string>dvNG_.glif</string>
	<key>dvNGA</key>
	<string>dvNGA_.glif</string>
	<key>dvNG_R</key>
	<string>dvNG__R_.glif</string>
	<key>dvNG_RA</key>
	<string>dvNG__RA_.glif</string>
	<key>dvNN</key>
	<string>dvNN_.glif</string>
	<key>dvNNA</key>
	<string>dvNNA_.glif</string>
	<key>dvNN_DDA</key>
	<string>dvNN__DDA_.glif</string>
	<key>dvNN_DDHA</key>
	<string>dvNN__DDHA_.glif</string>
	<key>dvNN_MA</key>
	<string>dvNN__MA_.glif</string>
	<key>dvNN_NNA</key>
	<string>dvNN__NNA_.glif</string>
	<key>dvNN_R</key>
	<string>dvNN__R_.glif</string>
	<key>dvNN_RA</key>
	<string>dvNN__RA_.glif</string>
	<key>dvNN_TTA</key>
	<string>dvNN__TTA_.glif</string>
	<key>dvNN_TTHA</key>
	<string>dvNN__TTHA_.glif</string>
	<key>dvNN_VA</key>
	<string>dvNN__VA_.glif</string>
	<key>dvNN_YA</key>
	<string>dvNN__YA_.glif</string>
	<key>dvNY</key>
	<string>dvNY_.glif</string>
	<key>dvNYA</key>
	<string>dvNYA_.glif</string>
	<key>dvNY_CA</key>
	<string>dvNY__CA_.glif</string>
	<key>dvNY_CHA</key>
	<string>dvNY__CHA_.glif</string>
	<key>dvNY_JA</key>
	<string>dvNY__JA_.glif</string>
	<key>dvNY_R</key>
	<string>dvNY__R_.glif</string>
	<key>dvNY_RA</key>
	<string>dvNY__RA_.glif</string>
	<key>dvNY_SHA</key>
	<string>dvNY__SHA_.glif</string>
	<key>dvN_BHA</key>
	<string>dvN__BHA_.glif</string>
	<key>dvN_BH_VA</key>
	<string>dvN__BH__VA_.glif</string>
	<key>dvN_BH_YA</key>
	<string>dvN__BH__YA_.glif</string>
	<key>dvN_CA</key>
	<string>dvN__CA_.glif</string>
	<key>dvN_CHA</key>
	<string>dvN__CHA_.glif</string>
	<key>dvN_DA</key>
	<string>dvN__DA_.glif</string>
	<key>dvN_DDA</key>
	<string>dvN__DDA_.glif</string>
	<key>dvN_DHA</key>
	<string>dvN__DHA_.glif</string>
	<key>dvN_DH_RA</key>
	<string>dvN__DH__RA_.glif</string>
	<key>dvN_DH_VA</key>
	<string>dvN__DH__VA_.glif</string>
	<key>dvN_DH_YA</key>
	<string>dvN__DH__YA_.glif</string>
	<key>dvN_D_RA</key>
	<string>dvN__D__RA_.glif</string>
	<key>dvN_D_VA</key>
	<string>dvN__D__VA_.glif</string>
	<key>dvN_HA</key>
	<string>dvN__HA_.glif</string>
	<key>dvN_KA</key>
	<string>dvN__KA_.glif</string>
	<key>dvN_K_SA</key>
	<string>dvN__K__SA_.glif</string>
	<key>dvN_MA</key>
	<string>dvN__MA_.glif</string>
	<key>dvN_M_YA</key>
	<string>dvN__M__YA_.glif</string>
	<key>dvN_NA</key>
	<string>dvN__NA_.glif</string>
	<key>dvN_N_YA</key>
	<string>dvN__N__YA_.glif</string>
	<key>dvN_PA</key>
	<string>dvN__PA_.glif</string>
	<key>dvN_PHA</key>
	<string>dvN__PHA_.glif</string>
	<key>dvN_PH_RA</key>
	<string>dvN__PH__RA_.glif</string>
	<key>dvN_P_RA</key>
	<string>dvN__P__RA_.glif</string>
	<key>dvN_R</key>
	<string>dvN__R_.glif</string>
	<key>dvN_RA</key>
	<string>dvN__RA_.glif</string>
	<key>dvN_SA</key>
	<string>dvN__SA_.glif</string>
	<key>dvN_S_M_YA</key>
	<string>dvN__S__M__YA_.glif</string>
	<key>dvN_S_TTA</key>
	<string>dvN__S__TTA_.glif</string>
	<key>dvN_S_YA</key>
	<string>dvN__S__YA_.glif</string>
	<key>dvN_THA</key>
	<string>dvN__THA_.glif</string>
	<key>dvN_TH_VA</key>
	<string>dvN__TH__VA_.glif</string>
	<key>dvN_TH_YA</key>
	<string>dvN__TH__YA_.glif</string>
	<key>dvN_TTA</key>
	<string>dvN__TTA_.glif</string>
	<key>dvN_T_RA</key>
	<string>dvN__T__RA_.glif</string>
	<key>dvN_T_SA</key>
	<string>dvN__T__SA_.glif</string>
	<key>dvN_T_YA</key>
	<string>dvN__T__YA_.glif</string>
	<key>dvN_VA</key>
	<string>dvN__VA_.glif</string>
	<key>dvN_YA</key>
	<string>dvN__YA_.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvOcandra</key>
	<string>dvOcandra_.glif</string>
	<key>dvOm</key>
	<string>dvOm_.glif</string>
	<key>dvP</key>
	<string>dvP_.glif</string>
	<key>dvPA</key>
	<string>dvPA_.glif</string>
	<key>dvPH</key>
	<string>dvPH_.glif</string>
	<key>dvPHA</key>
	<string>dvPHA_.glif</string>
	<key>dvPH_JA</key>
	<string>dvPH__JA_.glif</string>
	<key>dvPH_LA</key>
	<string>dvPH__LA_.glif</string>
	<key>dvPH_NA</key>
	<string>dvPH__NA_.glif</string>
	<key>dvPH_PA</key>
	<string>dvPH__PA_.glif</string>
	<key>dvPH_PHA</key>
	<string>dvPH__PHA_.glif</string>
	<key>dvPH_R</key>
	<string>dvPH__R_.glif</string>
	<key>dvPH_RA</key>
	<string>dvPH__RA_.glif</string>
	<key>dvPH_SHA</key>
	<string>dvPH__SHA_.glif</string>
	<key>dvPH_TA</key>
	<string>dvPH__TA_.glif</string>
	<key>dvPH_TTA</key>
	<string>dvPH__TTA_.glif</string>
	<key>dvPH_YA</key>
	<string>dvPH__YA_.glif</string>
	<key>dvPHx</key>
	<string>dvPHx_.glif</string>
	<key>dvPHxA</key>
	<string>dvPHxA_.glif</string>
	<key>dvPHx_JxA</key>
	<string>dvPHx__JxA_.glif</string>
	<key>dvPHx_PHxA</key>
	<string>dvPHx__PHxA_.glif</string>
	<key>dvPHx_R</key>
	<string>dvPHx__R_.glif</string>
	<key>dvPHx_RA</key>
	<string>dvPHx__RA_.glif</string>
	<key>dvPHx_SA</key>
	<string>dvPHx__SA_.glif</string>
	<key>dvPHx_TA</key>
	<string>dvPHx__TA_.glif</string>
	<key>dvP_LA</key>
	<string>dvP__LA_.glif</string>
	<key>dvP_MA</key>
	<string>dvP__MA_.glif</string>
	<key>dvP_NA</key>
	<string>dvP__NA_.glif</string>
	<key>dvP_PA</key>
	<string>dvP__PA_.glif</string>
	<key>dvP_PHA</key>
	<string>dvP__PHA_.glif</string>
	<key>dvP_R</key>
	<string>dvP__R_.glif</string>
	<key>dvP_RA</key>
	<string>dvP__RA_.glif</string>
	<key>dvP_SA</key>
	<string>dvP__SA_.glif</string>
	<key>dvP_TA</key>
	<string>dvP__TA_.glif</string>
	<key>dvP_TTA</key>
	<string>dvP__TTA_.glif</string>
	<key>dvP_TTHA</key>
	<string>dvP__TTHA_.glif</string>
	<key>dvP_T_YA</key>
	<string>dvP__T__YA_.glif</string>
	<key>dvP_VA</key>
	<string>dvP__VA_.glif</string>
	<key>dvP_YA</key>
	<string>dvP__YA_.glif</string>
	<key>dvR</key>
	<string>dvR_.glif</string>
	<key>dvRA</key>
	<string>dvRA_.glif</string>
	<key>dvRA_mU</key>
	<string>dvRA__mU_.glif</string>
	<key>dvRA_mUU</key>
	<string>dvRA__mUU_.glif</string>
	<key>dvRashtrasign</key>
	<string>dvRashtrasign_.glif</string>
	<key>dvReph.amI</key>
	<string>dvReph_.amI_.glif</string>
	<key>dvReph_Anusvara.amI</key>
	<string>dvReph__Anusvara_.amI_.glif</string>
	<key>dvRxA</key>
	<string>dvRxA_.glif</string>
	<key>dvS</key>
	<string>dvS_.glif</string>
	<key>dvSA</key>
	<string>dvSA_.glif</string>
	<key>dvSHA_mvR</key>
	<string>dvSHA__mvR_.glif</string>
	<key>dvSH_CA</key>
	<string>dvSH__CA_.glif</string>
	<key>dvSH_CHA</key>
	<string>dvSH__CHA_.glif</string>
	<key>dvSH_KA</key>
	<string>dvSH__KA_.glif</string>
	<key>dvSH_KxA</key>
	<string>dvSH__KxA_.glif</string>
	<key>dvSH_MA</key>
	<string>dvSH__MA_.glif</string>
	<key>dvSH_NA</key>
	<string>dvSH__NA_.glif</string>
	<key>dvSH_R</key>
	<string>dvSH__R_.glif</string>
	<key>dvSH_RA</key>
	<string>dvSH__RA_.glif</string>
	<key>dvSH_TA</key>
	<string>dvSH__TA_.glif</string>
	<key>dvSH_VA</key>
	<string>dvSH__VA_.glif</string>
	<key>dvSH_YA</key>
	<string>dvSH__YA_.glif</string>
	<key>dvSS</key>
	<string>dvSS_.glif</string>
	<key>dvSSA</key>
	<string>dvSSA_.glif</string>
	<key>dvSS_KA</key>
	<string>dvSS__KA_.glif</string>
	<key>dvSS_K_RA</key>
	<string>dvSS__K__RA_.glif</string>
	<key>dvSS_MA</key>
	<string>dvSS__MA_.glif</string>
	<key>dvSS_M_YA</key>
	<string>dvSS__M__YA_.glif</string>
	<key>dvSS_NNA</key>
	<string>dvSS__NNA_.glif</string>
	<key>dvSS_NN_YA</key>
	<string>dvSS__NN__YA_.glif</string>
	<key>dvSS_PA</key>
	<string>dvSS__PA_.glif</string>
	<key>dvSS_PHA</key>
	<string>dvSS__PHA_.glif</string>
	<key>dvSS_P_RA</key>
	<string>dvSS__P__RA_.glif</string>
	<key>dvSS_R</key>
	<string>dvSS__R_.glif</string>
	<key>dvSS_RA</key>
	<string>dvSS__RA_.glif</string>
	<key>dvSS_SSA</key>
	<string>dvSS__SSA_.glif</string>
	<key>dvSS_TTA</key>
	<string>dvSS__TTA_.glif</string>
	<key>dvSS_TTHA</key>
	<string>dvSS__TTHA_.glif</string>
	<key>dvSS_TTH_RA</key>
	<string>dvSS__TTH__RA_.glif</string>
	<key>dvSS_TTH_YA</key>
	<string>dvSS__TTH__YA_.glif</string>
	<key>dvSS_TT_RA</key>
	<string>dvSS__TT__RA_.glif</string>
	<key>dvSS_TT_VA</key>
	<string>dvSS__TT__VA_.glif</string>
	<key>dvSS_TT_YA</key>
	<string>dvSS__TT__YA_.glif</string>
	<key>dvSS_VA</key>
	<string>dvSS__VA_.glif</string>
	<key>dvSS_YA</key>
	<string>dvSS__YA_.glif</string>
	<key>dvS_BA</key>
	<string>dvS__BA_.glif</string>
	<key>dvS_DA</key>
	<string>dvS__DA_.glif</string>
	<key>dvS_JA</key>
	<string>dvS__JA_.glif</string>
	<key>dvS_KA</key>
	<string>dvS__KA_.glif</string>
	<key>dvS_KHA</key>
	<string>dvS__KHA_.glif</string>
	<key>dvS_K_RA</key>
	<string>dvS__K__RA_.glif</string>
	<key>dvS_K_VA</key>
	<string>dvS__K__VA_.glif</string>
	<key>dvS_LA</key>
	<string>dvS__LA_.glif</string>
	<key>dvS_MA</key>
	<string>dvS__MA_.glif</string>
	<key>dvS_M_YA</key>
	<string>dvS__M__YA_.glif</string>
	<key>dvS_NA</key>
	<string>dvS__NA_.glif</string>
	<key>dvS_PA</key>
	<string>dvS__PA_.glif</string>
	<key>dvS_PHA</key>
	<string>dvS__PHA_.glif</string>
	<key>dvS_P_RA</key>
	<string>dvS__P__RA_.glif</string>
	<key>dvS_R</key>
	<string>dvS__R_.glif</string>
	<key>dvS_RA</key>
	<string>dvS__RA_.glif</string>
	<key>dvS_SA</key>
	<string>dvS__SA_.glif</string>
	<key>dvS_TA</key>
	<string>dvS__TA_.glif</string>
	<key>dvS_THA</key>
	<string>dvS__THA_.glif</string>
	<key>dvS_TH_YA</key>
	<string>dvS__TH__YA_.glif</string>
	<key>dvS_TTA</key>
	<string>dvS__TTA_.glif</string>
	<key>dvS_T_RA</key>
	<string>dvS__T__RA_.glif</string>
	<key>dvS_T_VA</key>
	<string>dvS__T__VA_.glif</string>
	<key>dvS_T_YA</key>
	<string>dvS__T__YA_.glif</string>
	<key>dvS_VA</key>
	<string>dvS__VA_.glif</string>
	<key>dvS_YA</key>
	<string>dvS__YA_.glif</string>
	<key>dvT</key>
	<string>dvT_.glif</string>
	<key>dvTA</key>
	<string>dvTA_.glif</string>
	<key>dvTH_NA</key>
	<string>dvTH__NA_.glif</string>
	<key>dvTH_R</key>
	<string>dvTH__R_.glif</string>
	<key>dvTH_RA</key>
	<string>dvTH__RA_.glif</string>
	<key>dvTH_VA</key>
	<string>dvTH__VA_.glif</string>
	<key>dvTH_YA</key>
	<string>dvTH__YA_.glif</string>
	<key>dvTTH_R</key>
	<string>dvTTH__R_.glif</string>
	<key>dvTTH_RA</key>
	<string>dvTTH__RA_.glif</string>
	<key>dvTTH_TTHA</key>
	<string>dvTTH__TTHA_.glif</string>
	<key>dvTTH_VA</key>
	<string>dvTTH__VA_.glif</string>
	<key>dvTTH_YA</key>
	<string>dvTTH__YA_.glif</string>
	<key>dvTT_R</key>
	<string>dvTT__R_.glif</string>
	<key>dvTT_RA</key>
	<string>dvTT__RA_.glif</string>
	<key>dvTT_TTA</key>
	<string>dvTT__TTA_.glif</string>
	<key>dvTT_TTHA</key>
	<string>dvTT__TTHA_.glif</string>
	<key>dvTT_VA</key>
	<string>dvTT__VA_.glif</string>
	<key>dvTT_YA</key>
	<string>dvTT__YA_.glif</string>
	<key>dvT_KA</key>
	<string>dvT__KA_.glif</string>
	<key>dvT_KHA</key>
	<string>dvT__KHA_.glif</string>
	<key>dvT_KH_RA</key>
	<string>dvT__KH__RA_.glif</string>
	<key>dvT_K_RA</key>
	<string>dvT__K__RA_.glif</string>
	<key>dvT_K_SSA</key>
	<string>dvT__K__SSA_.glif</string>
	<key>dvT_K_VA</key>
	<string>dvT__K__VA_.glif</string>
	<key>dvT_K_YA</key>
	<string>dvT__K__YA_.glif</string>
	<key>dvT_LA</key>
	<string>dvT__LA_.glif</string>
	<key>dvT_MA</key>
	<string>dvT__MA_.glif</string>
	<key>dvT_M_YA</key>
	<string>dvT__M__YA_.glif</string>
	<key>dvT_NA</key>
	<string>dvT__NA_.glif</string>
	<key>dvT_N_YA</key>
	<string>dvT__N__YA_.glif</string>
	<key>dvT_PA</key>
	<string>dvT__PA_.glif</string>
	<key>dvT_PHA</key>
	<string>dvT__PHA_.glif</string>
	<key>dvT_P_LA</key>
	<string>dvT__P__LA_.glif</string>
	<key>dvT_P_RA</key>
	<string>dvT__P__RA_.glif</string>
	<key>dvT_R</key>
	<string>dvT__R_.glif</string>
	<key>dvT_R_YA</key>
	<string>dvT__R__YA_.glif</string>
	<key>dvT_SA</key>
	<string>dvT__SA_.glif</string>
	<key>dvT_S_NA</key>
	<string>dvT__S__NA_.glif</string>
	<key>dvT_S_VA</key>
	<string>dvT__S__VA_.glif</string>
	<key>dvT_S_YA</key>
	<string>dvT__S__YA_.glif</string>
	<key>dvT_THA</key>
	<string>dvT__THA_.glif</string>
	<key>dvT_T_VA</key>
	<string>dvT__T__VA_.glif</string>
	<key>dvT_T_YA</key>
	<string>dvT__T__YA_.glif</string>
	<key>dvT_VA</key>
	<string>dvT__VA_.glif</string>
	<key>dvT_YA</key>
	<string>dvT__YA_.glif</string>
	<key>dvU</key>
	<string>dvU_.glif</string>
	<key>dvUU</key>
	<string>dvUU_.glif</string>
	<key>dvVA</key>
	<string>dvVA_.glif</string>
	<key>dvV_HA</key>
	<string>dvV__HA_.glif</string>
	<key>dvV_LA</key>
	<string>dvV__LA_.glif</string>
	<key>dvV_NA</key>
	<string>dvV__NA_.glif</string>
	<key>dvV_R</key>
	<string>dvV__R_.glif</string>
	<key>dvV_RA</key>
	<string>dvV__RA_.glif</string>
	<key>dvV_VA</key>
	<string>dvV__VA_.glif</string>
	<key>dvV_YA</key>
	<string>dvV__YA_.glif</string>
	<key>dvY</key>
	<string>dvY_.glif</string>
	<key>dvYA</key>
	<string>dvYA_.glif</string>
	<key>dvY_NA</key>
	<string>dvY__NA_.glif</string>
	<key>dvY_R</key>
	<string>dvY__R_.glif</string>
	<key>dvY_RA</key>
	<string>dvY__RA_.glif</string>
	<key>dvY_YA</key>
	<string>dvY__YA_.glif</string>
	<key>dvZero</key>
	<string>dvZero_.glif</string>
	<key>dvmAI</key>
	<string>dvmAI_.glif</string>
	<key>dvmAI_Anusvara</key>
	<string>dvmAI__Anusvara_.glif</string>
	<key>dvmAI_Reph</key>
	<string>dvmAI__Reph_.glif</string>
	<key>dvmAI_Reph_Anusvara</key>
	<string>dvmAI__Reph__Anusvara_.glif</string>
	<key>dvmAU</key>
	<string>dvmAU_.glif</string>
	<key>dvmAU_Anusvara</key>
	<string>dvmAU__Anusvara_.glif</string>
	<key>dvmAU_Reph</key>
	<string>dvmAU__Reph_.glif</string>
	<key>dvmAU_Reph_Anusvara</key>
	<string>dvmAU__Reph__Anusvara_.glif</string>
	<key>dvmE_Reph</key>
	<string>dvmE__Reph_.glif</string>
	<key>dvmE_Reph_Anusvara</key>
	<string>dvmE__Reph__Anusvara_.glif</string>
	<key>dvmI</key>
	<string>dvmI_.glif</string>
	<key>dvmII</key>
	<string>dvmII_.glif</string>
	<key>dvmII.aLong</key>
	<string>dvmII_.aLong_.glif</string>
	<key>dvmII_Anusvara</key>
	<string>dvmII__Anusvara_.glif</string>
	<key>dvmII_Anusvara.aLong</key>
	<string>dvmII__Anusvara_.aLong_.glif</string>
	<key>dvmII_Reph</key>
	<string>dvmII__Reph_.glif</string>
	<key>dvmII_Reph.aLong</key>
	<string>dvmII__Reph_.aLong_.glif</string>
	<key>dvmII_Reph_Anusvara</key>
	<string>dvmII__Reph__Anusvara_.glif</string>
	<key>dvmII_Reph_Anusvara.aLong</key>
	<string>dvmII__Reph__Anusvara_.aLong_.glif</string>
	<key>dvmO</key>
	<string>dvmO_.glif</string>
	<key>dvmO_Anusvara</key>
	<string>dvmO__Anusvara_.glif</string>
	<key>dvmO_Reph</key>
	<string>dvmO__Reph_.glif</string>
	<key>dvmO_Reph_Anusvara</key>
	<string>dvmO__Reph__Anusvara_.glif</string>
	<key>dvmU</key>
	<string>dvmU_.glif</string>
	<key>dvmUU</key>
	<string>dvmUU_.glif</string>
	<key>dvmvR</key>
	<string>dvmvR_.glif</string>
	<key>dvmvRR</key>
	<string>dvmvRR_.glif</string>
	<key>dvvL</key>
	<string>dvvL_.glif</string>
	<key>dvvLL</key>
	<string>dvvLL_.glif</string>
	<key>dvvR</key>
	<string>dvvR_.glif</string>
	<key>dvvRR</key>
	<string>dvvRR_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>indianrupee</key>
	<string>indianrupee.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mu.math</key>
	<string>mu.math.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>turkishlira</key>
	<string>turkishlira.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
