<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMBINING_MARKS</key>
	<array>
		<string>dvmU</string>
		<string>dvmUU</string>
		<string>dvmvR</string>
		<string>dvmvRR</string>
		<string>dvmvL</string>
		<string>dvmvLL</string>
		<string>dvmE</string>
		<string>dvmAI</string>
		<string>dvmEcandra</string>
		<string>dvAnusvara</string>
		<string>dvCandrabindu</string>
		<string>dvVirama</string>
		<string>dvReph</string>
		<string>dvReph_Anusvara</string>
		<string>dvAnusvara.amI</string>
		<string>dvReph.amI</string>
		<string>dvReph_Anusvara.amI</string>
		<string>dvmE_Anusvara</string>
		<string>dvmE_Reph</string>
		<string>dvmE_Reph_Anusvara</string>
		<string>dvmAI_Anusvara</string>
		<string>dvmAI_Reph</string>
		<string>dvmAI_Reph_Anusvara</string>
		<string>dvmEcandra_Anusvara</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>commaaccent</string>
		<string>commaaccent.alt</string>
	</array>
	<key>mII_BASES</key>
	<array>
		<string>dvKA</string>
		<string>dvPHA</string>
		<string>dvKxA</string>
		<string>dvPHxA</string>
		<string>dvK_RA</string>
		<string>dvPH_RA</string>
		<string>dvKx_RA</string>
		<string>dvPHx_RA</string>
		<string>dvK_KA</string>
		<string>dvKx_KxA</string>
		<string>dvK_TA</string>
		<string>dvK_PHA</string>
		<string>dvKx_PHA</string>
		<string>dvKx_PHxA</string>
		<string>dvJ_KA</string>
		<string>dvT_KA</string>
		<string>dvT_K_RA</string>
		<string>dvT_PHA</string>
		<string>dvN_KA</string>
		<string>dvN_PHA</string>
		<string>dvN_PH_RA</string>
		<string>dvP_PHA</string>
		<string>dvPH_PHA</string>
		<string>dvPHx_PHxA</string>
		<string>dvL_KA</string>
		<string>dvL_PHA</string>
		<string>dvSH_KA</string>
		<string>dvSH_KxA</string>
		<string>dvSS_KA</string>
		<string>dvSS_K_RA</string>
		<string>dvSS_PHA</string>
		<string>dvS_KA</string>
		<string>dvS_K_RA</string>
		<string>dvS_PHA</string>
	</array>
	<key>mI_ALTS</key>
	<array>
		<string>dvmI.a01</string>
		<string>dvmI.a02</string>
		<string>dvmI.a03</string>
		<string>dvmI.a04</string>
		<string>dvmI.a05</string>
		<string>dvmI.a06</string>
		<string>dvmI.a07</string>
		<string>dvmI.a08</string>
		<string>dvmI.a09</string>
		<string>dvmI.a10</string>
		<string>dvmI.a11</string>
		<string>dvmI.a12</string>
		<string>dvmI.a13</string>
		<string>dvmI.a14</string>
		<string>dvmI.a15</string>
		<string>dvmI.a16</string>
		<string>dvmI.a17</string>
		<string>dvmI.a18</string>
		<string>dvmI.a19</string>
		<string>dvmI.a20</string>
		<string>dvmI.a21</string>
		<string>dvmI.a22</string>
		<string>dvmI.a23</string>
		<string>dvmI.a24</string>
	</array>
	<key>mI_BASES</key>
	<array>
		<string>dvKA</string>
		<string>dvKHA</string>
		<string>dvGA</string>
		<string>dvGHA</string>
		<string>dvNGA</string>
		<string>dvCA</string>
		<string>dvCHA</string>
		<string>dvJA</string>
		<string>dvJHA</string>
		<string>dvNYA</string>
		<string>dvTTA</string>
		<string>dvTTHA</string>
		<string>dvDDA</string>
		<string>dvDDHA</string>
		<string>dvNNA</string>
		<string>dvTA</string>
		<string>dvTHA</string>
		<string>dvDA</string>
		<string>dvDHA</string>
		<string>dvNA</string>
		<string>dvPA</string>
		<string>dvPHA</string>
		<string>dvBA</string>
		<string>dvBHA</string>
		<string>dvMA</string>
		<string>dvYA</string>
		<string>dvRA</string>
		<string>dvLA</string>
		<string>dvVA</string>
		<string>dvSHA</string>
		<string>dvSSA</string>
		<string>dvSA</string>
		<string>dvHA</string>
		<string>dvLLA</string>
		<string>dvK_SSA</string>
		<string>dvJ_NYA</string>
		<string>dvKxA</string>
		<string>dvKHxA</string>
		<string>dvGxA</string>
		<string>dvJxA</string>
		<string>dvDDxA</string>
		<string>dvDDHxA</string>
		<string>dvPHxA</string>
		<string>dvRxA</string>
		<string>dvK_RA</string>
		<string>dvKH_RA</string>
		<string>dvG_RA</string>
		<string>dvGH_RA</string>
		<string>dvNG_RA</string>
		<string>dvC_RA</string>
		<string>dvCH_RA</string>
		<string>dvJ_RA</string>
		<string>dvJH_RA</string>
		<string>dvNY_RA</string>
		<string>dvTT_RA</string>
		<string>dvTTH_RA</string>
		<string>dvDD_RA</string>
		<string>dvDDH_RA</string>
		<string>dvNN_RA</string>
		<string>dvT_RA</string>
		<string>dvTH_RA</string>
		<string>dvD_RA</string>
		<string>dvDH_RA</string>
		<string>dvN_RA</string>
		<string>dvP_RA</string>
		<string>dvPH_RA</string>
		<string>dvB_RA</string>
		<string>dvBH_RA</string>
		<string>dvM_RA</string>
		<string>dvY_RA</string>
		<string>dvL_RA</string>
		<string>dvV_RA</string>
		<string>dvSH_RA</string>
		<string>dvSS_RA</string>
		<string>dvS_RA</string>
		<string>dvH_RA</string>
		<string>dvLL_RA</string>
		<string>dvKx_RA</string>
		<string>dvKHx_RA</string>
		<string>dvGx_RA</string>
		<string>dvJx_RA</string>
		<string>dvPHx_RA</string>
		<string>dvK_KA</string>
		<string>dvKx_KxA</string>
		<string>dvK_KHA</string>
		<string>dvK_CA</string>
		<string>dvK_JA</string>
		<string>dvK_TTA</string>
		<string>dvK_NNA</string>
		<string>dvK_TA</string>
		<string>dvKx_TA</string>
		<string>dvK_T_YA</string>
		<string>dvK_T_RA</string>
		<string>dvK_T_VA</string>
		<string>dvK_THA</string>
		<string>dvK_DA</string>
		<string>dvK_NA</string>
		<string>dvK_PA</string>
		<string>dvK_P_RA</string>
		<string>dvK_PHA</string>
		<string>dvKx_PHA</string>
		<string>dvKx_PHxA</string>
		<string>dvKx_BA</string>
		<string>dvK_MA</string>
		<string>dvKx_MA</string>
		<string>dvK_YA</string>
		<string>dvK_LA</string>
		<string>dvK_VA</string>
		<string>dvK_V_YA</string>
		<string>dvK_SHA</string>
		<string>dvK_SS_MA</string>
		<string>dvK_SS_M_YA</string>
		<string>dvK_SS_YA</string>
		<string>dvK_SS_VA</string>
		<string>dvK_SA</string>
		<string>dvK_S_TTA</string>
		<string>dvK_S_DDA</string>
		<string>dvK_S_TA</string>
		<string>dvK_S_P_RA</string>
		<string>dvK_S_P_LA</string>
		<string>dvKH_KHA</string>
		<string>dvKH_TA</string>
		<string>dvKHx_TA</string>
		<string>dvKH_NA</string>
		<string>dvKH_MA</string>
		<string>dvKHx_MA</string>
		<string>dvKH_YA</string>
		<string>dvKHx_YA</string>
		<string>dvKH_VA</string>
		<string>dvKHx_VA</string>
		<string>dvKH_SHA</string>
		<string>dvKHx_SHA</string>
		<string>dvKHx_SA</string>
		<string>dvG_GA</string>
		<string>dvG_GHA</string>
		<string>dvG_JA</string>
		<string>dvG_NNA</string>
		<string>dvG_DA</string>
		<string>dvG_DHA</string>
		<string>dvG_DH_YA</string>
		<string>dvG_DH_VA</string>
		<string>dvG_NA</string>
		<string>dvG_N_YA</string>
		<string>dvG_BA</string>
		<string>dvG_BHA</string>
		<string>dvG_BH_YA</string>
		<string>dvG_MA</string>
		<string>dvG_YA</string>
		<string>dvG_R_YA</string>
		<string>dvG_LA</string>
		<string>dvG_VA</string>
		<string>dvG_SA</string>
		<string>dvGH_NA</string>
		<string>dvGH_MA</string>
		<string>dvGH_YA</string>
		<string>dvC_CA</string>
		<string>dvC_CHA</string>
		<string>dvC_CH_VA</string>
		<string>dvC_NA</string>
		<string>dvC_MA</string>
		<string>dvC_YA</string>
		<string>dvCH_YA</string>
		<string>dvCH_R_YA</string>
		<string>dvJ_KA</string>
		<string>dvJ_JA</string>
		<string>dvJx_JxA</string>
		<string>dvJ_J_NYA</string>
		<string>dvJ_J_YA</string>
		<string>dvJ_J_VA</string>
		<string>dvJ_JHA</string>
		<string>dvJ_NY_YA</string>
		<string>dvJ_TTA</string>
		<string>dvJ_DDA</string>
		<string>dvJ_TA</string>
		<string>dvJ_DA</string>
		<string>dvJ_NA</string>
		<string>dvJ_BA</string>
		<string>dvJ_MA</string>
		<string>dvJ_YA</string>
		<string>dvJx_YA</string>
		<string>dvJ_VA</string>
		<string>dvJH_NA</string>
		<string>dvJH_MA</string>
		<string>dvJH_YA</string>
		<string>dvNY_CA</string>
		<string>dvNY_CHA</string>
		<string>dvNY_JA</string>
		<string>dvNY_SHA</string>
		<string>dvTT_TTA</string>
		<string>dvTT_TTHA</string>
		<string>dvTT_YA</string>
		<string>dvTT_VA</string>
		<string>dvTTH_TTHA</string>
		<string>dvTTH_YA</string>
		<string>dvTTH_VA</string>
		<string>dvDD_DDA</string>
		<string>dvDD_DDHA</string>
		<string>dvDD_YA</string>
		<string>dvDD_VA</string>
		<string>dvDDH_DDHA</string>
		<string>dvDDH_YA</string>
		<string>dvDDH_VA</string>
		<string>dvNN_TTA</string>
		<string>dvNN_TTHA</string>
		<string>dvNN_DDA</string>
		<string>dvNN_DDHA</string>
		<string>dvNN_NNA</string>
		<string>dvNN_MA</string>
		<string>dvNN_YA</string>
		<string>dvNN_VA</string>
		<string>dvT_KA</string>
		<string>dvT_K_YA</string>
		<string>dvT_K_RA</string>
		<string>dvT_K_VA</string>
		<string>dvT_K_SSA</string>
		<string>dvT_KHA</string>
		<string>dvT_KH_RA</string>
		<string>dvT_TA</string>
		<string>dvT_T_YA</string>
		<string>dvT_T_VA</string>
		<string>dvT_THA</string>
		<string>dvT_NA</string>
		<string>dvT_N_YA</string>
		<string>dvT_PA</string>
		<string>dvT_P_RA</string>
		<string>dvT_P_LA</string>
		<string>dvT_PHA</string>
		<string>dvT_MA</string>
		<string>dvT_M_YA</string>
		<string>dvT_YA</string>
		<string>dvT_R_YA</string>
		<string>dvT_LA</string>
		<string>dvT_VA</string>
		<string>dvT_SA</string>
		<string>dvT_S_NA</string>
		<string>dvT_S_YA</string>
		<string>dvT_S_VA</string>
		<string>dvTH_NA</string>
		<string>dvTH_YA</string>
		<string>dvTH_VA</string>
		<string>dvD_GA</string>
		<string>dvD_G_RA</string>
		<string>dvD_GHA</string>
		<string>dvD_DA</string>
		<string>dvD_DHA</string>
		<string>dvD_NA</string>
		<string>dvD_BA</string>
		<string>dvD_B_RA</string>
		<string>dvD_BHA</string>
		<string>dvD_MA</string>
		<string>dvD_YA</string>
		<string>dvD_VA</string>
		<string>dvDH_NA</string>
		<string>dvDH_N_YA</string>
		<string>dvDH_MA</string>
		<string>dvDH_YA</string>
		<string>dvDH_VA</string>
		<string>dvN_KA</string>
		<string>dvN_K_SA</string>
		<string>dvN_CA</string>
		<string>dvN_CHA</string>
		<string>dvN_TTA</string>
		<string>dvN_DDA</string>
		<string>dvN_TA</string>
		<string>dvN_T_YA</string>
		<string>dvN_T_RA</string>
		<string>dvN_T_SA</string>
		<string>dvN_THA</string>
		<string>dvN_TH_YA</string>
		<string>dvN_TH_VA</string>
		<string>dvN_DA</string>
		<string>dvN_D_RA</string>
		<string>dvN_D_VA</string>
		<string>dvN_DHA</string>
		<string>dvN_DH_YA</string>
		<string>dvN_DH_RA</string>
		<string>dvN_DH_VA</string>
		<string>dvN_NA</string>
		<string>dvN_N_YA</string>
		<string>dvN_PA</string>
		<string>dvN_P_RA</string>
		<string>dvN_PHA</string>
		<string>dvN_PH_RA</string>
		<string>dvN_BHA</string>
		<string>dvN_BH_YA</string>
		<string>dvN_BH_VA</string>
		<string>dvN_MA</string>
		<string>dvN_M_YA</string>
		<string>dvN_YA</string>
		<string>dvN_VA</string>
		<string>dvN_SA</string>
		<string>dvN_S_TTA</string>
		<string>dvN_S_M_YA</string>
		<string>dvN_S_YA</string>
		<string>dvN_HA</string>
		<string>dvP_TTA</string>
		<string>dvP_TTHA</string>
		<string>dvP_TA</string>
		<string>dvP_T_YA</string>
		<string>dvP_NA</string>
		<string>dvP_PA</string>
		<string>dvP_PHA</string>
		<string>dvP_MA</string>
		<string>dvP_YA</string>
		<string>dvP_LA</string>
		<string>dvP_VA</string>
		<string>dvP_SA</string>
		<string>dvPH_JA</string>
		<string>dvPHx_JxA</string>
		<string>dvPH_TTA</string>
		<string>dvPH_TA</string>
		<string>dvPHx_TA</string>
		<string>dvPH_NA</string>
		<string>dvPH_PA</string>
		<string>dvPH_PHA</string>
		<string>dvPHx_PHxA</string>
		<string>dvPH_YA</string>
		<string>dvPH_LA</string>
		<string>dvPH_SHA</string>
		<string>dvPHx_SA</string>
		<string>dvB_JA</string>
		<string>dvB_JxA</string>
		<string>dvB_J_YA</string>
		<string>dvB_JHA</string>
		<string>dvB_TA</string>
		<string>dvB_DA</string>
		<string>dvB_DHA</string>
		<string>dvB_DH_VA</string>
		<string>dvB_NA</string>
		<string>dvB_BA</string>
		<string>dvB_BHA</string>
		<string>dvB_BH_RA</string>
		<string>dvB_YA</string>
		<string>dvB_LA</string>
		<string>dvB_L_YA</string>
		<string>dvB_VA</string>
		<string>dvB_SHA</string>
		<string>dvB_SA</string>
		<string>dvBH_NA</string>
		<string>dvBH_YA</string>
		<string>dvBH_R_YA</string>
		<string>dvBH_LA</string>
		<string>dvBH_VA</string>
		<string>dvM_TA</string>
		<string>dvM_DA</string>
		<string>dvM_NA</string>
		<string>dvM_PA</string>
		<string>dvM_P_RA</string>
		<string>dvM_BA</string>
		<string>dvM_B_YA</string>
		<string>dvM_B_RA</string>
		<string>dvM_BHA</string>
		<string>dvM_BH_YA</string>
		<string>dvM_BH_RA</string>
		<string>dvM_BH_VA</string>
		<string>dvM_MA</string>
		<string>dvM_YA</string>
		<string>dvM_LA</string>
		<string>dvM_VA</string>
		<string>dvM_SHA</string>
		<string>dvM_SA</string>
		<string>dvM_HA</string>
		<string>dvY_NA</string>
		<string>dvY_YA</string>
		<string>dvEyelash_YA</string>
		<string>dvEyelash_HA</string>
		<string>dvL_KA</string>
		<string>dvL_K_YA</string>
		<string>dvL_KHA</string>
		<string>dvL_GA</string>
		<string>dvL_JA</string>
		<string>dvL_JxA</string>
		<string>dvL_TTA</string>
		<string>dvL_TTHA</string>
		<string>dvL_DDA</string>
		<string>dvL_DDHA</string>
		<string>dvL_TA</string>
		<string>dvL_THA</string>
		<string>dvL_TH_YA</string>
		<string>dvL_DA</string>
		<string>dvL_D_RA</string>
		<string>dvL_PA</string>
		<string>dvL_PHA</string>
		<string>dvL_BA</string>
		<string>dvL_BHA</string>
		<string>dvL_MA</string>
		<string>dvL_YA</string>
		<string>dvL_LA</string>
		<string>dvL_L_YA</string>
		<string>dvL_VA</string>
		<string>dvL_V_DDA</string>
		<string>dvL_SA</string>
		<string>dvL_HA</string>
		<string>dvV_NA</string>
		<string>dvV_YA</string>
		<string>dvV_LA</string>
		<string>dvV_VA</string>
		<string>dvV_HA</string>
		<string>dvSH_KA</string>
		<string>dvSH_KxA</string>
		<string>dvSH_CA</string>
		<string>dvSH_CHA</string>
		<string>dvSH_TTA</string>
		<string>dvSH_TA</string>
		<string>dvSH_NA</string>
		<string>dvSH_MA</string>
		<string>dvSH_YA</string>
		<string>dvSH_LA</string>
		<string>dvSH_VA</string>
		<string>dvSH_SHA</string>
		<string>dvSS_KA</string>
		<string>dvSS_K_RA</string>
		<string>dvSS_TTA</string>
		<string>dvSS_TT_YA</string>
		<string>dvSS_TT_RA</string>
		<string>dvSS_TT_VA</string>
		<string>dvSS_TTHA</string>
		<string>dvSS_TTH_YA</string>
		<string>dvSS_TTH_RA</string>
		<string>dvSS_NNA</string>
		<string>dvSS_NN_YA</string>
		<string>dvSS_PA</string>
		<string>dvSS_P_RA</string>
		<string>dvSS_PHA</string>
		<string>dvSS_MA</string>
		<string>dvSS_M_YA</string>
		<string>dvSS_YA</string>
		<string>dvSS_VA</string>
		<string>dvSS_SSA</string>
		<string>dvS_KA</string>
		<string>dvS_K_RA</string>
		<string>dvS_K_VA</string>
		<string>dvS_KHA</string>
		<string>dvS_JA</string>
		<string>dvS_TTA</string>
		<string>dvS_TA</string>
		<string>dvS_T_YA</string>
		<string>dvS_T_RA</string>
		<string>dvS_T_VA</string>
		<string>dvS_THA</string>
		<string>dvS_TH_YA</string>
		<string>dvS_DA</string>
		<string>dvS_NA</string>
		<string>dvS_PA</string>
		<string>dvS_P_RA</string>
		<string>dvS_PHA</string>
		<string>dvS_BA</string>
		<string>dvS_MA</string>
		<string>dvS_M_YA</string>
		<string>dvS_YA</string>
		<string>dvS_LA</string>
		<string>dvS_VA</string>
		<string>dvS_SA</string>
		<string>dvH_NNA</string>
		<string>dvH_NA</string>
		<string>dvH_MA</string>
		<string>dvH_YA</string>
		<string>dvH_LA</string>
		<string>dvH_VA</string>
		<string>dvLL_YA</string>
	</array>
</dict>
</plist>
